table,tr,td{
    border: solid black 1px;
}
table{
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
}
ul.circle{
    list-style-type: circle;
}
ul.square{
    list-style-type: square;
}
ol.roman{
    list-style-type: upper-roman;
}
ol.alpha{
    list-style-type: lower-alpha;
}